In [3]:
import pandas as pd

In [17]:
file_path = 'D:\\SMESTER5\\dataKasus-1.xlsx'
data = pd.read_excel(file_path)

In [19]:
# Lihat beberapa baris pertama
print(data.head())

   NO    NAMA   USIA  PARITAS JARAK KELAHIRAN RIW HIPERTENSI RIW PE OBESITAS  \
0   1  NAMA 1  23 TH        3       < 2 tahun          Tidak  Tidak    Tidak
1   2  NAMA 2  29 TH        2       < 2 tahun          Tidak    PEB    Tidak
2   3  NAMA 3  20 TH        1    anak pertama          Tidak  Tidak    Tidak
3   4  NAMA 4  18 TH        1    anak pertama          Tidak  Tidak    Tidak
4   5  NAMA 5  34 TH        3      > 2 tahun           Tidak  Tidak    Tidak

  RIW DM RIW HIPERTENSI/PE DALAM KELUARGA SOSEK RENDAH PE/Non PE Unnamed: 12
0     Ya                            Tidak         >UMR    Non PE         NaN
1  Tidak                              Ada         >UMR        PE         NaN
2  Tidak                            Tidak         >UMR    Non PE         NaN
3  Tidak                            Tidak         >UMR    Non PE         NaN
4  Tidak                            Tidak         >UMR    Non PE         NaN

In [53]:
# Cek nilai kosong
print(data.isnull().sum())

NO                                    0
NAMA                                  0
USIA                                  3
PARITAS                               0
JARAK KELAHIRAN                       7
RIW HIPERTENSI                        0
RIW PE                                0
OBESITAS                              0
RIW DM                                0
RIW HIPERTENSI/PE DALAM KELUARGA      0
SOSEK RENDAH                          0
PE/Non PE                             0
Unnamed: 12                         550
dtype: int64

In [25]:
print(data.columns)

Index(['NO', 'NAMA', 'USIA', 'PARITAS', 'JARAK KELAHIRAN', 'RIW HIPERTENSI',
       'RIW PE', 'OBESITAS', 'RIW DM', 'RIW HIPERTENSI/PE DALAM KELUARGA',
       'SOSEK RENDAH', 'PE/Non PE', 'Unnamed: 12'],
      dtype='object')

In [37]:
# Memisahkan fitur dan target
X = data.drop(columns=['NO', 'NAMA', 'PE/Non PE', 'Unnamed: 12'])  # Menghapus kolom yang tidak diperlukan
y = data['PE/Non PE']  # Menggunakan kolom 'PE/Non PE' sebagai target

In [51]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [57]:
# Bersihkan data pada kolom 'USIA' dari karakter non-numerik
data['USIA'] = data['USIA'].str.replace(r'\D', '', regex=True).astype(float)

In [59]:
# Pisahkan fitur (X) dan target (y)
X = data.drop(columns=['NO', 'NAMA', 'PE/Non PE', 'Unnamed: 12'])  # Kolom yang tidak diperlukan
y = data['PE/Non PE']

In [61]:
# Bagi data menjadi data pelatihan dan pengujian
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [65]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split

In [67]:
# Assume X_train and X_test contain both numeric and categorical data

# Define which columns are categorical
categorical_columns = ['column_with_string']  # replace with actual column name
numeric_columns = ['numeric_column1', 'numeric_column2']  # replace with actual numeric columns

In [69]:
# Create a preprocessor pipeline
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numeric_columns),
        ('cat', OneHotEncoder(), categorical_columns)
    ]
)

In [73]:

# Display the column names in X_train
print(X_train.columns)

Index(['USIA', 'PARITAS', 'JARAK KELAHIRAN', 'RIW HIPERTENSI', 'RIW PE',
       'OBESITAS', 'RIW DM', 'RIW HIPERTENSI/PE DALAM KELUARGA',
       'SOSEK RENDAH'],
      dtype='object')

In [75]:

print(X_train.columns)

Index(['USIA', 'PARITAS', 'JARAK KELAHIRAN', 'RIW HIPERTENSI', 'RIW PE',
       'OBESITAS', 'RIW DM', 'RIW HIPERTENSI/PE DALAM KELUARGA',
       'SOSEK RENDAH'],
      dtype='object')

In [83]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [85]:
# Define the names of numeric and categorical columns (replace with actual column names)
numeric_columns = ['numeric_column1', 'numeric_column2']  # replace with actual numeric columns
categorical_columns = ['column_with_string']  # replace with actual non-numeric column

In [87]:
# Create a ColumnTransformer to scale numeric data and encode categorical data
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numeric_columns),
        ('cat', OneHotEncoder(), categorical_columns)
    ]
)

In [93]:
print(X_train.columns)  # This will show all columns in X_train

Index(['USIA', 'PARITAS', 'JARAK KELAHIRAN', 'RIW HIPERTENSI', 'RIW PE',
       'OBESITAS', 'RIW DM', 'RIW HIPERTENSI/PE DALAM KELUARGA',
       'SOSEK RENDAH'],
      dtype='object')

In [95]:
# Check for missing values
print(X_train.isnull().sum())

USIA                                11
PARITAS                              0
JARAK KELAHIRAN                      4
RIW HIPERTENSI                       0
RIW PE                               0
OBESITAS                             0
RIW DM                               0
RIW HIPERTENSI/PE DALAM KELUARGA     0
SOSEK RENDAH                         0
dtype: int64

In [97]:
print(X_train.dtypes)  # Check data types of each column

USIA                                float64
PARITAS                               int64
JARAK KELAHIRAN                      object
RIW HIPERTENSI                       object
RIW PE                               object
OBESITAS                             object
RIW DM                               object
RIW HIPERTENSI/PE DALAM KELUARGA     object
SOSEK RENDAH                         object
dtype: object

In [103]:
print("Column Names:", X_train.columns)
print("Data Types:\n", X_train.dtypes)
print("Missing Values:\n", X_train.isnull().sum())

Column Names: Index(['USIA', 'PARITAS', 'JARAK KELAHIRAN', 'RIW HIPERTENSI', 'RIW PE',
       'OBESITAS', 'RIW DM', 'RIW HIPERTENSI/PE DALAM KELUARGA',
       'SOSEK RENDAH'],
      dtype='object')
Data Types:
 USIA                                float64
PARITAS                               int64
JARAK KELAHIRAN                      object
RIW HIPERTENSI                       object
RIW PE                               object
OBESITAS                             object
RIW DM                               object
RIW HIPERTENSI/PE DALAM KELUARGA     object
SOSEK RENDAH                         object
dtype: object
Missing Values:
 USIA                                11
PARITAS                              0
JARAK KELAHIRAN                      4
RIW HIPERTENSI                       0
RIW PE                               0
OBESITAS                             0
RIW DM                               0
RIW HIPERTENSI/PE DALAM KELUARGA     0
SOSEK RENDAH                         0
dtype: int64

In [107]:

    # Create a pipeline with the preprocessor and KNN model
    pipeline = Pipeline(steps=[
        ('preprocessor', preprocessor),
        ('knn', KNeighborsClassifier(n_neighbors=5))
    ])

In [114]:
# Define actual column names
numeric_columns = ['numeric_column1', 'numeric_column2']  # Replace with actual numeric columns
categorical_columns = ['categorical_column']  # Replace with actual categorical columns

In [116]:
# Confirm if these columns are in X_train
missing_numeric = [col for col in numeric_columns if col not in X_train.columns]
missing_categorical = [col for col in categorical_columns if col not in X_train.columns]

In [120]:
# Confirm if these columns are in X_train
missing_numeric = [col for col in numeric_columns if col not in X_train.columns]
missing_categorical = [col for col in categorical_columns if col not in X_train.columns]

if missing_numeric or missing_categorical:
    print("Missing numeric columns:", missing_numeric)
    print("Missing categorical columns:", missing_categorical)
else:
    # Set up the preprocessing steps for numeric and categorical data
    preprocessor = ColumnTransformer(
        transformers=[
            ('num', StandardScaler(), numeric_columns),
            ('cat', OneHotEncoder(), categorical_columns)
        ]
    )

Missing numeric columns: ['numeric_column1', 'numeric_column2']
Missing categorical columns: ['categorical_column']

In [122]:

    # Create a pipeline with the preprocessor and KNN model
    pipeline = Pipeline(steps=[
        ('preprocessor', preprocessor),
        ('knn', KNeighborsClassifier(n_neighbors=5))
    ])